<div>
  <% if flash[:btm_notice] %>
    <div class="center-align">
      <%= flash[:btm_notice] %>
    </div>
  <% end %>

  <% if flash[:btm_alert] %>
    <div class="center-align">
      <%= flash[:btm_alert] %>
    </div>
  <% end %>
</div>